@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #f3f5f9;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: black;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #5c5c5c;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}
.content-container {
  padding: 50px;
}
.logo {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px 0;
}

.content {
  background-color: #efefef;
  margin-bottom: 40px;
}

.content .container {
  padding: 38px 0;
  text-align: center;
  max-width: 972px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.content .container h2 {
  margin-bottom: 18px;
}

.content .container p {
}
.hero {
  margin-bottom: 180px;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.hero-content .item h1 {
  font-size: 24px;
}
.item-container {
  display: flex;
  gap: 16px;
}
.item-container img {
  width: 100%;
  object-fit: contain;
}
.footer {
  border-top: 1px solid #dedede;
  width: 100%;
  height: 1px;
}
.footer .text-footer {
  padding: 30px 0 30px 120px;
  display: block;
}
/* Mobile */
@media only screen and (max-width: 739px) {
  .item-container img {
    width: 50%;
    object-fit: contain;
  }
  .item-container {
    flex-direction: column;
  }
}
/* Tablet */
@media only screen and (max-width: 1023px) {
  .hero-content .item h1 {
    margin-bottom: 10px;
  }
  .hero-content {
    flex-direction: column;
  }
  .item-container {
    align-items: center;
  }
}
